
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.top-left {
  position: absolute;
  top: 15px;
  left: 15px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  flex-grow: 1;
}

/* Formulario */
.form-container {
  margin: 0 22px;
}


h2 {
  color: #457AB0;
  font-weight: 600;
}

/* Descripción */
.tag-admin {
  color: #5BA9D8;
  font-size: 11px;
  font-weight: 500;
  margin-top: -12px;
}

/* Validaciones */
.validators {
  color: #FF6961;
}

/* Botones */
.custom-button {
  height: 50px;
  --border-radius: 15px;
  --background: #5BA9D8;
  color: white;
  text-transform: none;
  margin-top: 25px;
}
