<ion-content [fullscreen]="true">

  <div class="content-container">

    <!-- Header con el botón arriba a la izquierda -->
    <div class="top-left">
      <ion-button routerLink="/auth/login" fill="clear" shape="round" style="--color: #457AB0;">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>

    <!-- Centro con el formulario -->
    <div class="center-content">
      <div class="form-container">
        <app-logo />

        <form [formGroup]="form" (ngSubmit)="onRequestSubmit()">
          <h2 class="ion-text-start">Recupera tu Cuenta</h2>
          <p class="ion-text-start tag-admin">Ingresa tu correo de registro para cambiar tu contraseña</p>

          <app-custom-input
            class="inputs"
            autocomplete="email"
            [placeholder]="'Correo electrónico'"
            [control]="form.controls.email"
            icon="mail-outline"
            type="text"
            id="email"
            [marginTop]="'25px'">
          </app-custom-input>

          <small class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
            <span *ngIf="form.controls.email.errors?.['required']">El correo es requerido</span>
            <span *ngIf="form.controls.email.errors?.['email']">El correo no es válido</span>
          </small>

          <ion-button class="submit custom-button" expand="block" type="submit">
            Recuperar Cuenta
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
